<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Administración</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Formulario producto</h1>

	<pre th:text="${producto}"></pre>

	<form action="#" th:action="@{/admin/producto}" method="post">
		<input type="hidden" name="id" th:value="${producto.id}" />
		<div>
			<label for="nombre">Nombre</label> <input type="text" name="nombre"
				id="nombre" th:value="${producto.nombre}" />
		</div>
		<div>
			<label for="descripcion">Descripción</label>
			<textarea name="descripcion" id="descripcion"
				th:text="${producto.descripcion}"></textarea>
		</div>
		<div>
			<label for="precio">Precio</label> <input type="text" name="precio"
				id="precio" th:value="${producto.precio}" />
		</div>
		<div>
			<label for="stock">Stock</label> <input type="text" name="stock"
				id="stock" th:value="${producto.stock}" />
		</div>
		<div>
			<label for="categoria">Categoría</label> <select name="categoria"
				id="categoria">
				<option th:each="c: ${categorias}" th:value="${c.id}"
					th:text="${c.nombre}"
					th:selected="${c.id == producto?.categoria?.id}">Categoría
					1</option>
			</select>
		</div>
		<input type="submit" value="Guardar" />
	</form>
</body>

</html>
