<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Administración</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<main class="container">
	<h1>Formulario producto</h1>

	<form action="#" th:action="@{/admin/producto}" method="post"
		th:object="${producto}">
		<input type="hidden" name="id" th:value="${producto.id}" />
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
			<div class="col">
				<input class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid'" type="text" th:field="*{nombre}" />
			<span class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
			</div>
		</div>
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="descripcion">Descripción</label>

			<div class="col">
				<textarea class="form-control" th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid'" th:field="*{descripcion}"></textarea>
			<span class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}"
				th:errors="*{descripcion}"></span>
			</div>
		</div>
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="precio">Precio</label>
			<div class="col">
				<input class="form-control" th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid'" type="number" step=".01"
					th:field="*{precio}" />
			<span class="invalid-feedback" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></span>
			</div>
		</div>
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="stock">Stock</label>
			<div class="col">
				<input class="form-control" th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid'" type="number" th:field="*{stock}" />
			<span class="invalid-feedback" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></span>
			</div>
		</div>
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="fechaCaducidad">Fecha
				de caducidad</label>
			<div class="col">
				<input class="form-control" th:classappend="${#fields.hasErrors('fechaCaducidad')} ? 'is-invalid'" type="date" th:field="*{fechaCaducidad}" />
			<span class="invalid-feedback" th:if="${#fields.hasErrors('fechaCaducidad')}"
				th:errors="*{fechaCaducidad}"></span>
			</div>
		</div>
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="categoria">Categoría</label>
			<div class="col">
				<select class="form-select" th:field="*{categoria}" th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid'">
					<option th:each="c: ${categorias}" th:value="${c.id}"
						th:text="${c.nombre}">Categoría 1</option>
				</select> <span class="invalid-feedback" th:if="${#fields.hasErrors('categoria')}"
					th:errors="*{categoria}"></span>
			</div>
		</div>
		<div class="row mb-2">
			<div class="offset-sm-2 col">
				<button class="btn btn-primary" type="submit">Guardar</button>
			</div>
		</div>
	</form>
</main>