<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<title>Ejemplo Spring</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Ejemplo Spring</h1>

	<h2 th:inline="text" sec:authorize="isAuthenticated()">
		Hola <span th:remove="tag" sec:authentication="name">usuario</span>!
		Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
	</h2>

	<ul>
		<li sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/login}">Inicia sesión</a></li>
		<li sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<button>Cerrar sesión</button>
			</form>
		</li>
		<li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/admin/productos}">Administración</a>
		</li>
	</ul>



	<ul>
		<li th:each="categoria: ${categorias}"><a href="#"
			th:href="@{/categorias/{id}(id=${categoria.id})}"
			th:text="${categoria.nombre}">Categoría1</a></li>
	</ul>

	<ul>
		<li th:each="producto: ${productos}"
			th:text="${producto.nombre + ': ' + producto.precio + ' €'}">Producto1:
			1234.56€</li>
	</ul>

</body>

</html>
