<!DOCTYPE html>
<html lang="es" th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">

<title>Inicio sesión</title>

<main class="container">
	<h2>Formulario video</h2>

	<form action="#" th:action="@{/usuarios-registrados/formulario}" th:object="${video}" method="post">
		<input type="hidden" name="id" th:value="*{id}" />
		
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="url">Url</label>
			<div class="col">
				<input class="form-control" th:classappend="${#fields.hasErrors('url')} ? 'is-invalid'" type="text" th:field="*{url}" />
				<div class="invalid-feedback" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></div>
			</div>
		</div>
		
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="titulo">Título</label>
			<div class="col">
				<input class="form-control" th:classappend="${#fields.hasErrors('titulo')} ? 'is-invalid'" type="text" th:field="*{titulo}" />
				<div class="invalid-feedback" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
			</div>
		</div>
		
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="descripcion">Descripción</label>
			<div class="col">
				<textarea class="form-control" th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid'" th:field="*{descripcion}"></textarea>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
			</div>
		</div>
		
		<div class="row mb-2">
			<div class="offset-sm-2 col">
				<button class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>

</main>